.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
public_html
sass.old
source.old
source/_stash
vendor
node_modules
source/stylesheets/screen.css
source/stylesheets/octopress-stylesheet.css
