/* LESS FRAMEWORK */
/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/

/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html{ background:url(../images/background.jpg) repeat; }

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img { border: 0; }

body {
	font-family:"AvenirNext-Regular","AvenirNext-Medium","Avenir","Corbel","Myriad Pro","Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,sans-serif;
	font-size:18px;
	line-height:28px;
	font-weight:300;
	color:#333;
/* 	text-shadow: white 0 1px 0; */
}

/* DIVS */
.centered-image{ padding: 0; text-align:center; }
.centered-image.ita { padding:30px 0 50px 0; }
.centered-image a { font-weight:bold; color:#333; text-decoration:none; }

.description-content { padding: 10px 0 50px 0; text-align:left; }
.description-content p { padding: 8px 0; line-height:1.6em; }

.description-content a { 
	font-weight:300; 
	color:#258fb8;
	text-decoration:none;
}
.description-content a:hover {
	text-decoration: underline;
}

.about img{ margin-bottom:0px; width:750px; height:auto;}
.about {font-size:18px; padding-bottom: 0;}
.about p { padding-bottom:35px; }

#copyright  { text-align:center; font-size:13px; line-height: 18px; padding-bottom: 10px; margin-bottom: 0px; padding-right:20px; padding-left:20px;}

/* variable size section lines  */
.section-header { overflow: hidden; }

.section-header-label {
    float: left; /* add this */
	padding-right: 15px;
}

.section-header-line {
	border-bottom: 1px solid #333;
	padding-top: 16px;
	padding-right: 0;
	vertical-align: bottom;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
 
.container {
	width: 750px;
	padding: 30px 0 10px 0;
	color: #333;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	margin:0px auto;
}

.divider:after {
	display: block;
	padding: 0 0 40px 0;
	margin: 0px auto 0px auto;
	position: relative;
	text-align: center;
	width: 100%;	
	font-size: 40px;
	content: "\269B \269B \269B";
}

/* SLIDER */
/* SLIDER STYLES */
.iosSlider {
	width: 100%;
	height:546px;
	margin:0px;
	overflow:hidden;
	padding-top: 20px;
	padding-bottom: 50px;
}
			
.iosSlider .slider {
	width: 100%;
	height: 100%;
}
			
.iosSlider .slider .item {
	position: relative;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	margin: 0 0 0 0;
}
			
.iosSlider .slider .item .text1 {
	position: absolute;
	top: 35px;
	right: 150px;
	opacity: 0;
	filter: alpha(opacity:0);
	background: #000;
}
			
.iosSlider .slider .item .text1 span {
	color: #fff;
    font: 45px/60px 'Futura','Futura-Condensed',futura,sans-serif;
    letter-spacing:-3px;
    text-transform:uppercase;
    padding: 0 8px;
    text-shadow: none;
}
			
.iosSlider .slider .item .text2 {
	position: absolute;
	top: 95px;
	right: 0;
	opacity: 0;
	filter: alpha(opacity:0);
	background: #000;
	padding: 5px 7px 7px 7px;
}
			
.iosSlider .slider .item .text2 span {
	color: #fff;
	font: normal 16px/20px "AvenirNext-Regular","AvenirNext-Medium","Avenir","Corbel","Myriad Pro","Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,sans-serif;
	text-shadow: none;
}
			
.iosSliderButtons {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 200px;
	height: 10px;
}
			
.iosSliderButtons .button {
	float: left;
	width: 9px;
	height: 9px;
	background: #999;
	margin: 0 10px 0 0;
	opacity: 0.25;
	filter: alpha(opacity:25);
	border: 1px solid #000;
}
			
.iosSliderButtons .selected {
	background: #000;
	opacity: 1;
	filter: alpha(opacity:100);
}

.iosSlider .slider .item .inner{
	position: relative;
	top: 0;
	left: 0;
	width: 713px;
	margin: 0 auto;
	height:100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

/* Mac / Normal / iPad Landscape */

.iosSlider .slider .item1 .inner {
	background-image: url(/images/ita/slides/slide-shadow-ipad.png), url(/images/ita/slides/slide-1.jpg);
}
.iosSlider .slider .item2 .inner {
	background-image: url(/images/ita/slides/slide-shadow-ipad.png), url(/images/ita/slides/slide-2.jpg);
}
.iosSlider .slider .item3 .inner {
	background-image: url(/images/ita/slides/slide-shadow-ipad.png), url(/images/ita/slides/slide-3.jpg);
}
.iosSlider .slider .item4 .inner {
	background-image: url(/images/ita/slides/slide-shadow-ipad.png), url(/images/ita/slides/slide-4.jpg);
}

img.settings{ float: right; margin:0 0 0 10px; }

.ita-image {
	background-image: url(/images/meet-ita.png);
	width: 700px; 
	height: 350px;
	background-size: 700px 350px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

/* iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 712px;
	}
	.about img{ width: 100%; height: auto; }
}

/* iPhone (Portrait | Landscape) */
@media only screen and (max-width: 767px) {
	.ita-image {
		background-image: url(/images/meet-ita-vertical.png);
		height: 418px;
		width: 310px;
		background-size: 310px 418px;
		margin: 10px auto;
	}

	.iosSlider .slider .item .inner {
		width: 320px;
	}
	.iosSlider .slider .item .inner .text1  {
		top: 41px;
	}
	.iosSlider .slider .item .inner .text1 span {
		font: 35px/45px 'Futura','Futura-Condensed',futura,sans-serif;
	}
	.iosSlider .slider .item .inner .text2 {
		top: 86px;
	}
	.iosSlider .slider .item .inner .text2 span {
		font: 13px/18px "AvenirNext-Regular","AvenirNext-Medium","Avenir","Corbel","Myriad Pro","Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,sans-serif;
	}
	.iosSlider .slider .item1 .inner {
		background-image: url(/images/ita/slides/slide-shadow-iphone.png), url(/images/ita/slides/slide-1-iphone.jpg);
	}	
	.iosSlider .slider .item2 .inner {
		background-image: url(/images/ita/slides/slide-shadow-iphone.png), url(/images/ita/slides/slide-2-iphone.jpg);
	}
	.iosSlider .slider .item3 .inner {
		background-image: url(/images/ita/slides/slide-shadow-iphone.png), url(/images/ita/slides/slide-3-iphone.jpg);
	}
	.iosSlider .slider .item4 .inner {
		background-image: url(/images/ita/slides/slide-shadow-iphone.png), url(/images/ita/slides/slide-4-iphone.jpg);
	}
}

/* iPhone Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {	
	.container {
		width: 436px;
	}
	.centered-image #appicon {
		width: 249px;
		height: auto;
	}
	.centered-image #appstore {
		width: 400px;
		height: auto;
	}
	.ita img{ padding: 0; width: 100%; height: auto;}	
	.about img{ width: 100%; height: auto; }
}

/* iPhone Portrait */
@media only screen and (max-width: 479px) {
	.container {
		width: 300px;
		padding: 0;
	}

	.centered-image.ita { padding:0; }
	img {
		padding: 0;
	}
	.ita img{ padding: 20px 0; width: 100%; height: auto;}	
	.about img{ width: 100%; height: auto; }

	.centered-image #appstore {
		width: 200px;
		height: auto;
		padding: 0;
	}
}


/* Retina images for iPad + Mac */

@media all and (-webkit-min-device-pixel-ratio: 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {

	body {
		background-image:url(/images/background@2x.jpg);
		background-size: 411px 155px;
	}
	.iosSlider .slider .item1 .inner {
		background-image:  url(/images/ita/slides/slide-shadow-ipad@2x.png), url(/images/ita/slides/slide-1@2x.jpg);
		background-size: 713px auto, 705px auto;
	}
	.iosSlider .slider .item2 .inner {
		background-image: url(/images/ita/slides/slide-shadow-ipad@2x.png), url(/images/ita/slides/slide-2@2x.jpg);
		background-size: 713px auto, 705px auto;
		}
	.iosSlider .slider .item3 .inner {
		background-image: url(/images/ita/slides/slide-shadow-ipad@2x.png), url(/images/ita/slides/slide-3@2x.jpg);
		background-size: 713px auto, 705px auto;
	}
	.iosSlider .slider .item4 .inner {
		background-image: url(/images/ita/slides/slide-shadow-ipad@2x.png), url(/images/ita/slides/slide-4@2x.jpg);
		background-size: 713px auto, 705px auto;
	}
	.ita-image {
		background-image: url(/images/meet-ita@2x.png);
	}
}

/* iPhone Retina images */

@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
    all and (max-width: 767px) and (-o-min-device-pixel-ratio: 3/2),
    all and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5),
    all and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
    
    .iosSlider {
    	height:468px;
    }
	.iosSlider .slider .item1 .inner {
		background-image: url(/images/ita/slides/slide-shadow-iphone@2x.png), url(/images/ita/slides/slide-1-iphone@2x.jpg);
		background-size: 320px auto, 312px auto;
	}	
	.iosSlider .slider .item2 .inner {
		background-image: url(/images/ita/slides/slide-shadow-iphone@2x.png), url(/images/ita/slides/slide-2-iphone@2x.jpg);
		background-size: 320px auto, 312px auto;
	}
	.iosSlider .slider .item3 .inner {
		background-image: url(/images/ita/slides/slide-shadow-iphone@2x.png), url(/images/ita/slides/slide-3-iphone@2x.jpg);
		background-size: 320px auto, 312px auto;
	}
	.iosSlider .slider .item4 .inner {
		background-image: url(/images/ita/slides/slide-shadow-iphone@2x.png), url(/images/ita/slides/slide-4-iphone@2x.jpg);
		background-size: 320px auto, 312px auto;
	}
	.ita-image {
		background-image: url(/images/meet-ita-vertical@2x.png);
	}
}

