#header{
	height: 50px;
	padding: 30px 0;

	@media screen and (min-width: 480px) and (max-width: 767px) {
		padding: 0;
		height: 70px;
	}
	@media screen and (max-width: 479px){
		height: 100px;
		padding: 0px;
		position: relative;
		text-align: center;
	}

	h1{
		float: left;
		font-weight: 300;
		font-size: 36px;
		line-height: 36px;
		@media screen and (max-width: 479px){
			float: none;
			padding: 10px 0 10px 0;
		}
	}
	h1 a {
		padding-left: 0px;
		color: $color-gray01;
		@include transition(0.3s color);
		&:hover{
			color: $color-main;
		}
	}
	.headimage {
		padding-top: 0px;
		padding-left: 0px;
		height: 80px;
		position: absolute;
		margin-top: 0px;
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}

#navigation{
	float: right;

	@media screen and (max-width: 479px){
		float:center;
		position: relative;
		width: 100%;
	}

	.search{
		margin-top: 15px;
		position: relative;

		&:before{
			content: "\f002";
			color: $color-gray03;
			font: 18px $font-icon;
			line-height: 30px;
			position: absolute;
			top: 0;
			right: 115px;
		}
		input[type="text"]{
			-webkit-appearance: none;
			background: #f2f2f2;
			color: $color-gray02;
			border: 1px solid $color-gray04;
			font: 13px $font-default;
			padding: 6px 15px 6px 35px;
			width: 90px;
			@include transition(0.3s);
			@include border-radius(15px);
			&:focus, &:active{
				background: #fff;
				border-top: 1px solid $color-gray03;
				color: $color-gray01;
				outline: none;
			}
		}
		@media screen and (max-width: 479px){
			padding: 0;
			margin: 0;
		}
	}

	.searchpath{
		padding-top:12px;
		margin-left:10px;
		@media screen and (max-width: 479px){
			padding: 0;
			margin: 0;
			float: right;
		}
	}

	.sub-nav{
		a{
			margin-left: 8px;
			margin-right: 8px;
			@include inline-block;
			text-indent: -9999px;
			opacity: 0.75;
			background-size: 30px;
			@include square(30px);
			@include transition(0.3s);

			&:hover{ opacity: 1; }

			&.nml{
				background: image-url('/images/nml-nav-logo.png') center no-repeat;
				background-size:30px;
				@media screen and (max-width: 479px){
						margin-left: 0px;
					}
			}

			&.ita{
				background: image-url('/images/ita-icon-60.png') center no-repeat;
				background-size:30px;
			}

			&.rss{
				background: image-url('/images/rss-icon.png') center no-repeat;
				background-size:30px;
			}

		}
		@media screen and (max-width: 479px){
			float: left;
			position: relative;
			margin: 0;
		}
	}
}

input[type="text"]{
	-webkit-appearance: none;
}
