.archives{
	position: relative;
	&:last-of-type{
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			width: 200px;
/* 			border-top: 1px solid $color-gray04; */
		}
	}
	.year{
		line-height: 35px;
		width: 200px;
		position: absolute;
		top: 0;
		padding-top: 15px;
		padding-left: 30px;
/* 		border-top: 1px solid #fff; */
		&:before{
			content: "";
			position: absolute;
/* 			top: -20px; */
			width: 100%;
/* 			border-top: 1px solid $color-gray04; */
		}
		@media screen and (max-width: 520px){
			position: relative;
			text-align: left;
			width: 100%;
			padding-left: 0px;
			padding-top: 30px;
			padding-bottom: 20px;
			width: 100%;
		}
	}
	article{
		margin-left: 200px;
		padding: 20px 0;

		@media screen and (max-width: 520px){
			margin-left: 0;
			border-top: none;
			padding-top: 0px;
		}

		.title{
			font-size: 24px;
			margin-bottom: 0;

/* 
			@media screen and (max-width: 520px){
				font-size: 24px;
			}
 */

		}
		.meta{
			color: $color-gray02;
			font-size: 0.9em;
			line-height: 2;
			margin-top: 5px;
/* 
			@media screen and (max-width: 520px){
				display: none;
			}
 */
			span{
				margin-right: 30px;
				@include inline-block;
				&:before{
					color: $color-gray03;
					font: 1.3em $font-icon;
					padding-right: 10px;
				}
			}
			a{
				color: $color-gray02;
				@include transition(0.3s);
				&:hover{
					color: $color-gray01;
				}
			}
			.date:before{content: "\f073";}
			.tags:before{content: "\f02c";}
			.comments:before{content: "\f075";}
		}
	}
	article.nodivider:after {
		content:"";		
		margin: 0;
		padding: 0;
	}
}