/* $color-background: #eee !default; */
$color-background: #eaf !default;
$color-main: #258fb8 !default;
$color-gray01: #333 !default;
$color-gray02: #999 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #eee !default;
$color-link-hover: #258fb8 !default;