/* nml */
body {
  font-size: 100%;
  /* font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B"; */
}

.nav-link-underline {
  padding-left: 0;
  padding-right: 0;
}


.main {
  height: calc(100vh - 110px);
}

.mohawk {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 48%;
}

.welcome-header {
  font-size: 4em;
  line-height: 1em;
  font-weight: 900;
}

.text-underlay {
  position: relative;
  z-index: -1;
}

.welcome-copy {
  font-size: 35px;
  line-height: 54px;
}

.footer-overlay {
  position: relative;
  z-index: 5;
}

.footer-link {
  /* color: #black; */
}

.contact-btn {
  border-radius: 48px;
}
