* {
	margin: 0;
	padding: 0;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

body {
	/* background: #d9d9de; */
	background: #fff;
	font-family: "AvenirNext-Regular","AvenirNext-Medium","Avenir","Corbel","Myriad Pro","Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: normal;
	color: #333;
}

.container {
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	margin:0px auto;
	width: 688px;
	padding: 0 0 0 0;
}

a {
	color:#eb4c3b;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

#header {
	padding: 40px 0;
	text-align: center;
}

#header a {
	color:#333;
	text-decoration: none;
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
	-o-transition:color 0.3s;
	transition:color 0.3s;
}

#header a:hover {
	text-decoration:none;
/* 	color:#258fb8; */
	color:#eb4c3b;
}

h1 {
	text-transform:uppercase;
	padding-top: 2px;
	font-weight: 300;
	font-size: 36px;
	font-family:"Futura-Condensed","Futura",sans-serif;
}

h2 {
	font-family: "AvenirNext-Bold","AvenirNext-Medium","Avenir","Corbel","Myriad Pro","Helvetica Neue","HelveticaNeue-Bold","Helvetica Neue",Helvetica,sans-serif;
}

.small {
	display:none;
}

.company {
	font-size: 18px;
	line-height: 24px;
}

.company p {
	margin-bottom: 18px;
}

#copyright  {
	text-align: center;
	font-size: 13px;
	line-height: 18px;
	padding-bottom: 10px;
}

.divider:after {
	display: block;
	padding: 40px 0;
	margin: 0px auto;
	position: relative;
	text-align: center;
	width: 100%;
	font-size: 40px;
    content: "\00a0";
	background: url('/images/atom-symbol.png') center no-repeat;
}

/* iPhone Sizes for main content */

/* iPhone Landscape + Skinny Windows */
@media screen and (min-width: 480px) and (max-width: 767px) {
	#header{
		/*height:120px;*/
		padding:15px 0;
		line-height:30px
	}
	.container {
		width: 420px;
		padding: 100px 0 0 0;
	}
	.large {
		display: none;
	}
	.small {
		display: inline;
	}
}

/* iPhone Portrait */
@media screen and (max-width: 479px) {
	body {
		font-size:16px
	}
	.large { /* 37 signals style */
		display: none;
	}
	.small {
		display: inline;
	}
	.inner {
		width:90%
	}
	.container {
		width: 90%;
		padding: 50px 0 0 0;
	}
	#header {
		/*height:80px;*/
		position:relative;
		padding-top:20px
	}
	#header h1 {
		float:none
	}
	h2 {
		font-size: 20px;
	}
}


/* Navigation CSS */

nav ul li {
	display: inline-block;
	position: relative;
}

nav ul li>a {
	display: inline-block;
	width: 180px;
	height: 145px;
	color: transparent;
	text-indent: -9999px;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 50px;
}

nav ul li .popover {
	position: absolute;
	border-radius: 10px;
	text-align: center;
	margin-top:0px;
	border-top:0px;
	top:180px;
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

nav ul li#ita>a     {
	background-image: url(/images/ita-icon-270.png);
	-webkit-background-size: 120px 120px;
	background-size: 120px 120px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	}
nav ul li#ita>a:hover {
	-webkit-background-size: 135px 135px;
	background-size: 135px 135px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	}
nav ul li#ita .popover {
	margin-left: 72px;
}

nav ul li#blog>a     {
	background-image: url(/images/blog-icon.png);
	-webkit-background-size: 161px 133px;
	background-size: 161px 133px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	padding-left: 50px;
}
nav ul li#blog>a:hover {
	-webkit-background-size: 176px 145px;
	background-size: 176px 145px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
nav ul li#blog .popover {
	margin-left: 86px;
}

nav ul li#expander>a     {
	background-image: url(/images/expander-icon-290.png);
	-webkit-background-size: 161px 133px;
	background-size: 161px 133px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	padding-left: 50px;
}
nav ul li#expander>a:hover {
	-webkit-background-size: 176px 145px;
	background-size: 176px 145px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
nav ul li#expander .popover {
	margin-left: 14px;
}

nav ul li#snippets>a     {
	background-image: url(/images/snippets-icon-270.png);
	-webkit-background-size: 120px 120px;
	background-size: 120px 120px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	/*padding-left: 50px;*/
}
nav ul li#snippets>a:hover {
	-webkit-background-size: 135px 135px;
	background-size: 135px 135px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
nav ul li#snippets .popover {
	margin-left: 0px;
}

/* iPhone Landscape + Skinny Windows */
@media screen and (min-width: 480px) and (max-width: 767px){
	nav ul li>a {
		width: 150px;
		height: 121px;
	}
	nav ul li .popover {
		top:155px;
	}

	nav ul li#ita>a     {
		-webkit-background-size: 100px 100px;
		background-size: 100px 100px;
		}
	nav ul li#ita>a:hover {
		-webkit-background-size: 115px 115px;
		background-size: 115px 115px;
		}
	nav ul li#ita .popover {
		margin-left: 58px;
	}

	nav ul li#blog>a     {
		-webkit-background-size: 132px 109px;
		background-size: 132px 109px;
		padding-left: 30px;
	}
	nav ul li#blog>a:hover {
		-webkit-background-size: 147px 121px;
		background-size: 147px 121px;
	}
	nav ul li#blog .popover {
		margin-left: 59px;
	}

	nav ul li#snippets>a     {
		-webkit-background-size: 100px 100px;
		background-size: 100px 100px;
		}
	nav ul li#snippets>a:hover {
		-webkit-background-size: 115px 115px;
		background-size: 115px 115px;
		}
	nav ul li#snippets .popover {
		margin-left: -15px;
	}

	nav ul li#expander>a     {
		-webkit-background-size: 132px 109px;
		background-size: 132px 109px;
		padding-left: 30px;
	}
	nav ul li#expander>a:hover {
		-webkit-background-size: 147px 121px;
		background-size: 147px 121px;
	}
	nav ul li#expander .popover {
		margin-left: 15px;
	}
}

/* iPhone Portrait */
@media screen and (max-width: 479px){
	nav ul li>a {
		width: 80px;
		height: 64px;
		margin: 0px 20px 0px 20px;
	}
	nav ul li .popover {
		top:90px;
	}

	nav ul li#ita>a     {
		-webkit-background-size: 60px 60px;
		background-size: 60px 60px;
	}
	nav ul li#ita>a:hover {
		-webkit-background-size: 60px 60px;
		background-size: 60px 60px;
	}
	nav ul li#ita .popover {
		margin-left: 48px;
	}

	nav ul li#blog>a     {
		-webkit-background-size: 78px 64px;
		background-size: 78px 64px;
		padding-left: 20px;
	}
	nav ul li#blog>a:hover {
		-webkit-background-size: 78px 64px;
		background-size: 78px 64px;
	}
	nav ul li#blog .popover {
		margin-left: 42px;
	}

	nav ul li#snippets>a     {
		-webkit-background-size: 60px 60px;
		background-size: 60px 60px;
	}
	nav ul li#snippets>a:hover {
		-webkit-background-size: 60px 60px;
		background-size: 60px 60px;
	}
	nav ul li#snippets .popover {
		margin-left: -7px;
	}

	nav ul li#expander>a     {
		-webkit-background-size: 78px 64px;
		background-size: 78px 64px;
		padding-left: 20px;
	}
	nav ul li#expander>a:hover {
		-webkit-background-size: 78px 64px;
		background-size: 78px 64px;
	}
	nav ul li#expander .popover {
		margin-left: 7px;
	}
}

/* Retina Image for Background */
@media all and (-webkit-min-device-pixel-ratio: 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {
	body {
/* 		background-image:url(/images/background@2x.jpg); */
/* 		background-size: 411px 155px; */
	}

	.divider:after {
		background: url('/images/atom-symbol@2x.png') center no-repeat;
		background-size: 212px 60px;
	}

}
