<div class="about"><p>Ben Lachman and Robert Cantoni write iPhone and iPad apps with Nice Mohawk Limited. Their latest app is <a href="http://nicemohawk.com/ita">Ita</a>. They sometimes have mohawks. They are very handsome. They're on Twitter as <a href="http://twitter.com/blach">@blach</a> and <a href="http://twitter.com/cantoni">@cantoni</a>, and <a href="http://alpha.app.net/cantoni">Bob</a> is on App.net, but Ben isn't, because someone took the username he wanted.
</p><p>This is their first blog together.</p></div>

<div class="divider"></div>

<div class="copyright">
<!-- &copy; Copyright  {{ site.time | date: "%Y" }} {{ site.author }}.  -->
&copy; Copyright  {{ site.time | date: "%Y" }} Nice Mohawk Limited. Powered by <a href="http://octopress.org">Octopress</a> and <a href="http://searchpath.io">Searchpath</a>.
</div>
{% include custom/footer.html %}