article{
 	padding: 30px 0;
	position: relative;

	h2.title{
		font-weight: normal;
		font-size: 2em;
		line-height: 1.2em;
		margin-bottom: 0px;
		a{
			color: $color-gray01;
			@include transition(0.3s color);
			&:hover{
				color: $color-main;
			}
		}
	}

	.entry-content{
		line-height: 1.5;
		text-align: left;
		padding-bottom: 10px;
		a{
			&:hover{
				text-decoration: underline;
			}
		}
		.more-link{
			display: block;
			margin-top: 16px;
			padding-left: 30px;
			position: relative;
			&:before{
				content: "\f061";
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
		}
		p {
			padding: 10px 0px;
			margin-top: 10px;
		}
		blockquote, ul, ol, dl, table, iframe, h1, h2, h3, h4, h5, h6, .video-container{
			margin-top: 10px;
		}
		ul, ol, dl{
			margin-left: 20px;
			ul, ol, dl{
				margin-top: 0;
			}
		}
		ul {
			list-style: square;
			margin-top: 10px;
		}
		ol {
			margin-left: 30px;
		}

		strong{
			font-weight: bold;
		}
		em{
			font-style: italic;
		}
		h2{
			font-weight: 300;
			position: relative;
		}
		img, video{
			max-width: 100%;
			height: auto;
		}
		blockquote{
			border-left: 10px solid #333;
			padding: 0px 20px;
			margin-top: 10px;
			& > p:first-of-type{
				margin-top: 0;
			}
		}
		iframe{
			border: none;
		}
		table{
			background: $color-gray04;
			border: 1px solid $color-gray03;
			border-spacing: 0;
			margin-top: 10px;
			th{
				background: $color-gray03;
				padding: 0 15px;
			}
			td{
				text-align: center;
			}
			tr{
				&:nth-of-type(2n){
					background: #d5d5d5;
				}
			}
		}
		.caption{
			display: block;
			font-size: 0.9em;
			color: $color-gray02;
			padding-left: 25px;
			position: relative;
			&:before{
				content: "\f040";
				color: $color-gray03;
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
		}
		.video-container{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			iframe, object, embed{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				margin-top: 0;
			}
		}
	}
}
article:after {
/* this is the article separator */
	display: block;
/*     margin: 24px auto 0px; */
    padding: 59px 0 0 0;
    position: relative;
    text-align: center;
    width: 100%;

    font-size: 40px;
    line-height: 40px;
    content: "\00a0";
	background: url('/images/atom-symbol.png') center no-repeat;
}

article:last-of-type {
	padding-bottom: 50px;

	@media screen and (max-width: 520px){
		padding-bottom: 30px;
	}

	&:after {
		content: "";
		margin-top: 0px;
		padding-top: 0px;
	}
}

.share{
	padding: 15px 0;
	@include border-shadow();
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {
	article:after {
		background: url('/images/atom-symbol@2x.png') center no-repeat;
		background-size: 212px 60px;
	}

}
