

footer{
	padding: 15px 0 10 0;
	text-align: center;
	font-size: 0.9em;
	line-height: 1.7em;
	
	.about {
		text-align: left;
		border-top: 1px solid #333;
		p {
			padding: 10px 0px;
		}
	}
	
	.divider:after {
		display: block;
		padding: 28px 0 40px 0;
		margin: 0px auto;
		position: relative;
		text-align: center;
		width: 100%;	
		color:#333;
		font-size: 40px;
    content: "\00a0";
	background: url('/images/atom-symbol.png') center no-repeat;
		}
	
	.copyright {
		padding-bottom: 10px;
		font-size:13px;
		line-height: 18px;
		margin-bottom: 0px;
	}
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {

	.divider:after {
		background: url('/images/atom-symbol@2x.png') center no-repeat;
		background-size: 212px 60px;
	}

}
